// main list view btn
.main-btn-type {
    padding: 13px 0px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #81878e;
    background-color: #f3f7fb;

    .more-icon {
        width: 14px;
        height: 9px;
    }
}

// search view btn
.search-btn-wrap {
    position: fixed;
    bottom: 0;
    padding: 16px 0px;
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #50d2c2;

    .more-icon {
        display: none;
    }
}