.more-btn-wrap {
    padding: 13px 0px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    color: #81878e;
    background-color: #f3f7fb;

    .more-icon {
        width: 15px;
        height: 10px;
    }
}