.empty-wrap {
    padding: 100px 0px;
    text-align: center;

    img {
        width: 120px;
        height: 120px;
    }

    p {
        margin-top: 10px;
        font-size: 12px;
        color: #81878e;
    }
}