.link-wrap {
    text-decoration: none;

    .list-wrap {
        margin: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;

        .title {
            margin-bottom: 6px;
            font-size: 14px;
            font-weight: bold;
            color: #50d2c2;
        }

        .info-wrap {
            margin-bottom: 5px;
            padding-left: 15px;
            list-style: disc;

            .item {
                margin-bottom: 6px;
                font-size: 12px;
                color: #47978d;

                .price {
                    font-size: 10px;
                    color: #444444;
                }
            }
        }

        .term-wrap {

            .target-wrap {
                float: left;

                .target {
                    margin-right: 5px;
                    display: inline-block;
                    
                    .item {
                        padding: 3px;
                        font-size: 10px;
                    }

                    .type {
                        color: #ffffff;
                    }

                    .count {
                        color: #6563a4;
                        background-color: #eff2f6;
                    }

                    .ele {
                        background-color: #50d2c2;
                    }

                    .mid {
                        background-color: #d667cd;
                    }

                    .hig {
                        background-color: #6563a4;
                    }

                    .par {
                        background-color: #50d2c2;
                    }
                }
            }

            .date-wrap {
                float: right;
                font-size: 12px;
                color: #81878e;

                .date-icon {
                    width: 16px;
                    height: 16px;
                    vertical-align: sub;
                }
            }

            &:after {
                content: "";
                display: block;
                clear: both;
            }
        }
    }
}