.link-wrap {
    text-decoration: none;

    .list-wrap {
        margin: 0px 10px 10px 10px;

        .title {
            font-size: 14px;
            font-weight: bold;
            color: #50d2c2;
        }

        .info-wrap {
            list-style: disc;

            .item {
                font-size: 12px;
                color: #47978d;

                .price {
                    font-size: 10px;
                    color: #444444;
                }
            }
        }

        .date {
            font-size: 12px;
            color: #81878e;

            .date-icon {
                width: 16px;
                height: 16px;
            }
        }
    }
}